[submodule "_project/src/asciidoctor-go"]
	path = _project/src/asciidoctor-go
	url = git@git.sr.ht:~shulhan/asciidoctor-go
	branch = main
[submodule "_project/src/awwan"]
	path = _project/src/awwan
	url = git@git.sr.ht:~shulhan/awwan
	branch = main
[submodule "_project/src/ciigo"]
	path = _project/src/ciigo
	url = git@git.sr.ht:~shulhan/ciigo
	branch = main
[submodule "_project/src/gorankusu"]
	path = _project/src/gorankusu
	url = git@git.sr.ht:~shulhan/gorankusu
	branch = main
[submodule "_project/src/gotp"]
	path = _project/src/gotp
	url = git@git.sr.ht:~shulhan/gotp
	branch = main
[submodule "_project/src/haminer"]
	path = _project/src/haminer
	url = git@git.sr.ht:~shulhan/haminer
	branch = main
[submodule "_project/src/hunspell-id"]
	path = _project/src/hunspell-id
	url = git@git.sr.ht:~shulhan/hunspell-id
	branch = main
[submodule "_project/src/karajo"]
	path = _project/src/karajo
	url = git@git.sr.ht:~shulhan/karajo
	branch = main
[submodule "_project/src/pakakeh.go"]
	path = _project/src/pakakeh.go
	url = git@git.sr.ht:~shulhan/pakakeh.go
	branch = main
[submodule "_project/src/rescached"]
	path = _project/src/rescached
	url = git@git.sr.ht:~shulhan/rescached
	branch = main
[submodule "_project/src/jarink"]
	path = _project/src/jarink
	url = git@git.sr.ht:~shulhan/jarink
	branch = main
[submodule "_project/src/beku"]
	path = _project/src/beku
	url = git@git.sr.ht:~shulhan/beku
	branch = main
[submodule "_project/src/pakakeh.ts"]
	path = _project/src/pakakeh.ts
	url = git@git.sr.ht:~shulhan/pakakeh.ts
	branch = main
[submodule "_project/src/bin.sh"]
	path = _project/src/bin.sh
	url = git@git.sr.ht:~shulhan/bin.sh
	branch = main
[submodule "_project/src/duitku"]
	path = _project/src/duitku
	url = git@git.sr.ht:~shulhan/duitku
	branch = main
[submodule "_project/src/kamusku"]
	path = _project/src/kamusku
	url = git@git.sr.ht:~shulhan/kamusku
	branch = main
[submodule "_project/src/kbbi"]
	path = _project/src/kbbi
	url = git@git.sr.ht:~shulhan/kbbi
	branch = main
[submodule "_project/src/lilin"]
	path = _project/src/lilin
	url = git@git.sr.ht:~shulhan/lilin
	branch = main
[submodule "vos"]
	path = _project/vos
	url = git@github.com:shuLhan/vos.git
	branch = master
