body {
	color: black;
	font-family: sans-serif;
	line-height: 1.25em;
	margin: 0 auto;
	width: 800px;
}
code {
	font-size: 14px;
}
div {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 28px;
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
}
h2 {
	font-size: 22px;
}
h3,
h4 {
	font-size: 16px;
}
h3::before {
	content: "> ";
}
h4::before {
	content: ">> ";
}
h2,
h3,
h4,
h5 {
	border-bottom: 1px solid grey;
	padding: 2px;
	color: black;
}
pre {
	background-color: #002b36;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #ccc;
	display: block;
	font-size: 13px;
	line-height: 1em;
	margin: 0 0 10px;
	overflow: auto;
	padding: 9.5px;
	word-break: break-all;
	word-wrap: break-word;
}

.topbar-left {
	font-size: 24px;
	font-weight: bold;
	width: 48%;
	display: inline-block;
}
.topbar-left a {
	text-decoration: none;
}
.topbar-left a:visited {
	color: black;
}
.topbar-info {
	font-size: 12px;
	font-weight: normal;
	font-family: Monospace;
}
.topbar-right {
	width: 50%;
	display: inline-block;
	text-align: right;
}
.topbar-right img {
	width: 40px;
}

.page {
	margin: 24px 0px;
}

.quoteblock .attribution {
	text-align: right;
	margin-right: 56px;
}

.container .meta {
	font-style: italic;
	margin: 1.25rem;
}

.footer {
	text-align: center;
	color: #666;
	font-size: 0.875rem;
	margin: 2.5rem 0;
}

/** Custom classes for asciidoc */
#toctitle {
	display: none;
}
#toc li {
	list-style: none;
}
#toc ul .sectlevel1 {
	padding: 0px;
	margin: 4px;
}
#toc ul .sectlevel2 {
	margin: 4px;
}

@media only screen and (max-width: 992px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.topbar {
		padding: 1.5em;
	}
	.topbar-left,
	.topbar-right {
		width: 100%;
		display: block;
		text-align: left;
	}
	.page {
		padding: 0 1.5em;
	}
	.footer {
		text-align: left;
		padding: 0 1.5em;
	}
}
