<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#375EAB" />
    <title>{{.Title}}</title>
    <link href="/index.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <img
      class="background"
      src="/assets/images/maple-leaf-transparent-540.png"
    />

    <div class="topbar">
      <div class="topbar-left">
        <div>
          <a href="/">kilabit.info</a>
        </div>
      </div>

      <div class="topbar-right">
        <a href="https://build.kilabit.info" target="_blank"> Build </a> |
        <a href="https://sr.ht/~shulhan" target="_blank"> sr.ht </a> |
        <a href="https://github.com/shuLhan" target="_blank"> GitHub </a> |
        <a href="https://twitter.com/_shuLhan" target="_blank"> Twitter </a>
      </div>
    </div>

    <div class="page">
      <div class="container">{{.Body}}</div>
      <!-- .container -->
    </div>
    <!-- .page -->

    <div class="footer">
      <div>
        Copyright 2007-2022, Shulhan &lt;m.shulhan@gmail.com&gt;. All rights
        reserved.
      </div>
      <div>
        Powered by
        <a href="https://sr.ht/~shulhan/ciigo" target="_blank">ciigo</a>
      </div>
    </div>
  </body>
</html>
